:root {

    --light-blue: #78b3d6;
    --light-pink: #fccbcb;
    --light-green: #dee3e2;
    --dark-green: #4f7969;
    --dark-pink: #d86969;
    --dark-blue: #243640;
    --main-text: white;
    }

.storytelling,
:root {
    --color-main-bg: var(--light-pink);
    --color-main-text: var(--main-text);
    --color-panel-bg: var(--dark-pink);
    --color-hover-text: var(--light-pink);
    --color-accent: var(--light-blue);
    --color-accent-hover: var(--dark-green);
    --off-text: var(--light-green);
}

.computing {

    --color-main-bg: var(--light-green);
    --color-main-text: var(--main-text);
    --color-panel-bg: var(--dark-blue);
    --color-hover-text: var(--light-blue);
    --color-accent: var(--dark-green);
    --color-accent-hover: var(--dark-pink);
    --off-text: var(--light-blue);
}