:root {
    color: var(--color-main-text);
    
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda', cursive;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 4em;
}

@media (max-width: 700px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }
}