---
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { getCollection } from "astro:content";
import Shell from "../../components/printed-shell.astro";
export const getStaticPaths = (async () => {
  const entries = (await getCollection("printed")).map((v) => ({
    ...v,
    data: {
      ...v.data,
    },
  }));
  return entries.map((entry) => ({
    params: { id: entry.slug as string },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

import {
  computing,
  storytelling,
  link_types,
} from "../../data/site-nav-data.json";
import Html from "../../components/html.astro";
const link_icons: { [key: string]: string | undefined } = link_types;
type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props as Props;
const { title, type } = entry.data;

const { Content } = await entry.render();
---

<Html>
  <Shell
    subtitle={title}
    area={type}
    socials={type === "computing" ? computing.socials : storytelling.socials}
  >
    <div><Content /></div>
  </Shell>
</Html>
