---
const { education } = Astro.props as {
    education: Array<{
        institution?: string;
        classes: [
            {
                teachers: string[];
                course: string;
            }
        ];
    }>;
};
---

<h3 class="font-bold  ">Education</h3>
<div class="flex flex-col gap-1  text-xs">
    <div class="font-bold border-b-2 border-black grid grid-cols-5">
        <div class="col-span-1 col-start-1">School/Studio</div><div
            class="col-span-1 col-start-2"
        >
            Subject
        </div><div class="col-span-1 col-start-3">Teachers</div>
    </div>
    {
        education.map(({ institution, classes }) => (
            <div class="border-b-2 grid grid-cols-5">
                <div class="col-span-1 col-start-1">{institution}</div>
                {classes.map(({teachers, course}) => (
                <div class="col-span-1 col-start-2 flex flex-col">{course}</div>
                <div class="col-span-3 col-start-3">{teachers.join(", ")}</div>
                ))}
            </div>
        ))
    }
</div>
