---
const { title, timespan, description } = Astro.props as {
    title?: string, timespan?: string, description: string
};
---

<div>
    {title ? (<h5 class="font-bold text-left px-11 flex flex-row gap-2">{title}{timespan ? (<span class="font-normal italic">{timespan}</span>) : (<></>)}</h5>) : (<></>)}
    <span>{description}</span>    
</div>