:root {
    --brand-100: #dab0f2;
    --brand-200: #be6eec;
    --brand-300: #a53be2;
    --brand-400: #8f1cd1;
    --brand-500: #7909b9;
    --brand-600: #700097;
    --brand-700: #45006c;
    --brand-800: #28003e;
    --brand-900: #0b0012;

    --storytelling-100: #e6e1d6;
    --storytelling-200: #e0c688;
    --storytelling-300: #d6ad4d;
    --storytelling-400: #c79727;
    --storytelling-500: #b18111;
    --storytelling-600: #916705;
    --storytelling-700: #6a4a00;
    --storytelling-800: #3f2c00;
    --storytelling-900: #172000;

    --computing-100: #b0e0f2;
    --computing-200: #6ecaec;
    --computing-300: #3bb5e2;
    --computing-400: #1ca1d1;
    --computing-500: #098ab9;
    --computing-600: #006f97;
    --computing-700: #004f6c;
    --computing-800: #002d3e;
    --computing-900: #000d12;

    --neutrals-100: #ede5f2;
    --neutrals-200: #e3d2ec;
    --neutrals-300: #d5bfe2;
    --neutrals-400: #c3abd1;
    --neutrals-500: #ab94b9;
    --neutrals-600: #8b7797;
    --neutrals-700: #64556c;
    --neutrals-800: #39303e;
    --neutrals-900: #200e12;

    --color-text-100: var(--neutrals-100);
    --color-text-200: var(--neutrals-200);
    --color-text-300: var(--neutrals-300);
    --color-text-400: var(--neutrals-400);
    --color-text-500: var(--neutrals-500);
    --color-text-600: var(--neutrals-600);
    --color-text-700: var(--neutrals-700);
    --color-text-800: var(--neutrals-800);
    --color-text-900: var(--neutrals-900);

    --color-primary-100: var(--brand-100);
    --color-primary-200: var(--brand-200);
    --color-primary-300: var(--brand-300);
    --color-primary-400: var(--brand-400);
    --color-primary-500: var(--brand-500);
    --color-primary-600: var(--brand-600);
    --color-primary-700: var(--brand-700);
    --color-primary-800: var(--brand-800);
    --color-primary-900: var(--brand-900);

    --category-1: rgb(237, 65, 47);
    --category-2: rgb(28, 193, 51);
    --category-3: rgb(252, 164, 0);
    --category-4: rgb(86, 71, 93);
    --category-5: rgb(206, 0, 109);
    --category-6: rgb(9, 106, 160);
    --category-7: rgb(50, 54, 191);
    --category-8: rgb(221, 28, 208);
    --category-9: rgb(47, 237, 234);
    --category-10: rgb(21, 245, 36);
    --category-11: rgb(246, 37, 14);
}

.storytelling,
:root {
    --color-secondary-100: var(--storytelling-100);
    --color-secondary-200: var(--storytelling-200);
    --color-secondary-300: var(--storytelling-300);
    --color-secondary-400: var(--storytelling-400);
    --color-secondary-500: var(--storytelling-500);
    --color-secondary-600: var(--storytelling-600);
    --color-secondary-700: var(--storytelling-700);
    --color-secondary-800: var(--storytelling-800);
    --color-secondary-900: var(--storytelling-900);

    --color-accent-100: var(--computing-100);
    --color-accent-200: var(--computing-200);
    --color-accent-300: var(--computing-300);
    --color-accent-400: var(--computing-400);
    --color-accent-500: var(--computing-500);
    --color-accent-600: var(--computing-600);
    --color-accent-700: var(--computing-700);
    --color-accent-800: var(--computing-800);
    --color-accent-900: var(--computing-900);

    --color-background: var(--storytelling-300);
    --color-background-dark: var(--storytelling-600);
}

.computing {

    --color-accent-100: var(--storytelling-100);
    --color-accent-200: var(--storytelling-200);
    --color-accent-300: var(--storytelling-300);
    --color-accent-400: var(--storytelling-400);
    --color-accent-500: var(--storytelling-500);
    --color-accent-600: var(--storytelling-600);
    --color-accent-700: var(--storytelling-700);
    --color-accent-800: var(--storytelling-800);
    --color-accent-900: var(--storytelling-900);


    --color-secondary-100: var(--computing-100);
    --color-secondary-200: var(--computing-200);
    --color-secondary-300: var(--computing-300);
    --color-secondary-400: var(--computing-400);
    --color-secondary-500: var(--computing-500);
    --color-secondary-600: var(--computing-600);
    --color-secondary-700: var(--computing-700);
    --color-secondary-800: var(--computing-800);
    --color-secondary-900: var(--computing-900);

    --color-background: var(--computing-700);
    --color-background-dark: var(--storytelling-800);
}

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

.prose.prose-content {
    max-width: none;
    --tw-prose-body: var(--color-text-200);
    --tw-prose-links: var(--color-accent-200);
    --tw-prose-headings: var(--color-text-100);
}

dialog.timeline-item-dialog>div {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    max-width: 50vw;
    max-height: 50vh;
    aspect-ratio: 1 / 1;

    @media (max-width: 59.999rem) {
        width: calc(100dvw - 2rem);
        height: calc(100dvh - 2rem);

        max-width: none;
        max-height: none;
        aspect-ratio: initial;
    }
}