---
import Html from "../components/html.astro";
---

<Html>
  <body transition:animate="slide">
      <hgroup
        class="title xl"
      >
        <h1 class="storytelling">
          Lee
        </h1>
        <h1>-</h1>
        <h1 class="computing">Orr</h1>
      </hgroup>
      <a
        class="storytelling lg"
        style="clip-path: border-box;"
        href="/storytelling"
      >
        <div
          style="background-image: url(/wide-site-bg-test-creative.png);"
          class=""
        >
        </div>
        <h2 class="">
          Storytelling
        </h2>
      </a>
      <a
        class="computing lg"
        style="clip-path: border-box;"
        href="/computing"
      >
        <div
          style="background-image: url(/wide-site-bg-test-computing.png);"
          class=""
        >
        </div>
        <h2 class="">
          Computing
        </h2>
      </a>
  </body></Html>

<style>
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--color-main-text);
  padding: 2rem;
  text-decoration: none;
  transition: flex-grow 1s;

  div {
    filter: grayscale(0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: filter 1s;
    background-size: cover;
    background-position: center;
  }

  &:hover, &:focus, &:focus-within, &:active {
    text-decoration: underline 0.2em solid;
    text-underline-offset: 0.2em;
    flex-grow: 10;
    transition: flex-grow 1s;
    div {
      filter: grayscale(0);
      transition: filter 1s;
    }
  }
}

.title {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  pointer-events: none;
  padding: 2rem;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }

a {
  text-decoration: underline 0.1em;
  text-underline-offset: 0.5em;

  &:last-of-type {
    flex-direction: column-reverse;
  }

  div {
    filter: grayscale(0);
  }
}

.title {
  justify-content: center;
  align-items: center;
}
}
</style>