---
const { title, timespan, description } = Astro.props as {
    title?: string, timespan?: string, description: string
};
---

<div class="flex flex-row gap-2 items-start">
    {title ? (<h5 class="font-bold text-left pl-11 flex flex-row gap-2 items-center"><span>{title}</span>{timespan ? (<span class="font-normal text-xs italic items-center">{timespan}</span>) : (<></>)}</h5>) : (<span class="pl-11">-</span>)}
    <span>{description}</span>    
</div>
<style>
    h5 {
        font-size: 1em;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    div {
        font-weight: 100;
        font-size: 1em;
    }
</style>