---
import { generate_shape } from "../pages/generate_shape";
const { area } = Astro.props as {
  area: "storytelling" | "computing";
};

let shape = "clip-path: fill-box;";
if (area === "storytelling") {
  shape = `clip-path: ${generate_shape()}`;
}
---

<div class="flex flex-col w-screen p-2 h-full items-stretch justify-start">
  <form
    class="flex flex-col justify-center items-stretch gap-2 m-[5%] p-5"
    style={shape}
  >
    <div
      class="bg-primary fixed w-screen h-screen top-0 left-0 bottom-0 right-0 z-[-10]"
    >
    </div>
    <div class="p-2 w-full grid-cols-4 grid">
      <label
        class="col-start-1 col-span-1 font-bold text-text-200 text-xl self-start"
        >Name</label
      >
      <input class="col-start-2 col-span-3 rounded text-xl p-2 self-center" />
    </div>
    <div class="p-2 w-full grid-cols-4 grid">
      <label
        class="col-start-1 col-span-1 font-bold text-text-200 text-xl self-start"
        >Email</label
      >
      <input class="col-start-2 col-span-3 rounded text-xl p-2 self-center" />
    </div>
    <div class="p-2 w-full grid-cols-4 grid">
      <label
        class="col-start-1 col-span-1 font-bold text-text-200 text-xl self-start"
        >Subject</label
      >
      <input class="col-start-2 col-span-3 rounded text-xl p-2 self-center" />
    </div>
    <div class="p-2 w-full grid-cols-4 grid flex-grow">
      <label
        class="col-start-1 col-span-1 font-bold text-text-200 text-xl self-start"
        >Content</label
      >
      <textarea
        class="col-start-2 col-span-3 rounded text-xl p-2 self-center flex-grow min-h-[30vh]"
      ></textarea>
    </div>
    <div class="p-2 self-end">
      <button
        class="p-3 bg-secondary rounded text-text-100 font-bold hover:bg-secondary-600"
        >Send</button
      >
    </div>
  </form>
</div>
