---
import { generate_shape } from "../pages/generate_shape";
const { area } = Astro.props as {
  area: "storytelling" | "computing";
};

let shape = "clip-path: boundary-box;";
if (area === "storytelling") {
  shape = `clip-path: ${generate_shape()}`;
}
---

  <form
    style={shape}
    name={"contact-" + area}
    netlify
  >
    <div
      class="bg-panel"
    >
    </div>
    <div>
      <label for="name"
        >Name</label
      >
      <input
        type="text"
        name="name"
id="name"
      />
    </div>
    <div>
      <label for="email"
        >Email</label
      >
      <input
        type="text"
        name="email"
id="email"
      />
    </div>
    <div>
      <label for="subject"
        >Subject</label
      >
      <input
        type="text"
        name="subject"
id="subject"
      />
    </div>
    <div>
      <label for="content"
        >Content</label
      >
      <textarea
        name="content"
id="content"
id="content"></textarea>
    </div>
    <div >
      <button
        type="submit">Send</button
      >
    </div>
  </form>

  <style>
    form {
      display: grid;
      grid-template-columns: max-content 3fr;
      grid-auto-rows: auto;

      gap: 1rem;

      min-width: 60%;

      align-self: center;
      justify-self: center;
      position: relative;
      padding: 2rem;
      overflow:hidden;
    }

    @media (max-width: 700px) {
      form {
        grid-template-columns: 1fr;
        min-width: unset;
        flex-grow: 0;
        flex-shrink: 0;
      }

      form > div {
        grid-column: 1 / span 1;
        grid-row: span 2;
        grid-template-rows: subgrid [label-start] [label-end field-start] [field-end];
        grid-template-columns: subgrid [label-start field-start] [label-end field-end];
      }

      form > div > label {
        text-align: start;
      }
    }

    div {
      display: grid;
      grid-column: 1 / span 2;
      grid-template-columns: subgrid [label-start] [label-end field-start] [field-end];
      grid-template-rows: subgrid [label-start field-start] [label-end field-end];
    }

    label {
      grid-area: label;
      text-align: end;
    }

    input, textarea, button {
      grid-area: field;
      border-radius: 0.25rem;
      border: solid var(--color-main-text) 2px;
    }

    input, textarea {
      background-color: var(--color-main-text);
      color: var(--dark-text);
    }

    button {
      background-color: var(--color-accent);
    }

    button:hover, button:active, button:focus {
      background-color: var(--color-accent-hover);
      cursor: pointer;
    }

    form > .bg-panel {
      display: block;
      grid-row: 1;
      grid-column: 1 / span 2;
      background: var(--color-panel-bg);
      position: absolute;
      top: -100%;
      bottom: -100%;
      left: -100%;
      right: -100%;
      z-index: -1;
    }
  </style>