
h1,h2,h3,h4,h5,h6 {
    filter: none;
}

 
h3 {
    font-size: 12pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2em;
}

h4 {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
}
h5 {
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    color: gray;
}

li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
li div {
    font-size: 12pt;
}

.jobs {
    gap: 4pt;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    
    > li {
        width: 33%;
    }
}

.jobs_container {
    position: relative;
}

.skills {
    gap: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10pt;
}

.wrapper {
    width: 8.5in;
    height: 11in;
    background-color: white;
    padding: 0.5cm;
    gap: 5pt;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: min-content min-content;

    h1 {
        font-size: 18pt;
        font-weight: bold;
        font-style: normal;
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;
    }
    
    h2 {
        font-size: 14pt;
        font-weight: bold;
        display: flex;
        justify-content: center;
        grid-column: 3;
        grid-row: 1;
    }
    
    h3 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
        font-weight: bold;
    }
}

body {
    background-color: lightcoral;
}

.aiTarget {
    width: 8.5in;
    background-color: white;
    padding: 0.5cm;
    gap: 2em;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        strong {
            font-weight: bold;
        }
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.2em;
        }
    }
    
    h3 {
        font-weight: bold;
        font-size: 1.1em;
    }

    .jobs {
        gap: 4pt;
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        height: auto;
        
        > li {
            width: auto;
        }
    }
}