---
const { title, subsections } = Astro.props as {
  title: string;
  subsections: Array<{
    title: string;
    role: string;
  }>;
};
---

<h3 class="font-bold">{title}</h3>
<div class="table">
  {
    subsections.map(({ title, role }) => (
      <>
        <div class="col-span-1 col-start-1">{title}</div>
        <div class="col-span-1 col-start-2">{role}</div>
      </>
    ))
  }
</div>

<style>
  h3 {
    font-size: 1.1em;
  }

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    .header {
      font-weight: 900;
    }
  }
</style>
