---
const { title, timespan, description } = Astro.props as {
    title?: string, timespan?: string, description: string
};
---

<div class="small">
    {title ? (<h5 class="title"><span>{title}</span> {timespan ? (<span class="font-normal italic">&nbsp;{timespan}</span>) : (<></>)}</h5>) : (<></>)}
    <span>{description}</span>    
</div>

<style>
    .small {
        grid-column: 1 /span 2;
    }

    h5.title {
        font-size: 1em;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    div {
        font-weight: 100;
        font-size: 1em;
    }
</style>